// === Main Colors ===
$color-bg:        #0f1519;
$color-bg2:       #141b1f;
$color-text:      #ffffff;
$footer-bg:       #1c262d;

// === Other ===
$gray-100:        #f7fafc;
$gray-200:        #edf2f7;
$gray-300:        #e2e8f0;
$gray-900:        #1a202c;

// === Gradients ===
$pink-blue: linear-gradient(to right, rgb(212, 0, 255), rgb(0, 98, 255));

// === Buttons ===
$button-bg:     #0d6efd;
$button-h1:     #0b5ed7;
$button-h2:     #0a58ca;