body {
  display: flex;
  flex-direction: column;
  background-color: #0f1519;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
    display: flex;
    justify-content: center;
    height: 200vh;
}

h1 {
  padding: 0;
  margin-top: 0;
}

.mainitems {
  /* background-color: gray; */

  /* Responsive layout */
  width: 70vw;              
  max-width: 75rem;         
  min-width: 34rem;      

  /* Spacing */
  margin-top: 5rem;         
  margin-left: auto;        
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.site-header {
  /* background-color: #002ea3; */
  /* background: linear-gradient(to right, rgba(0, 124, 240, 0.6), rgba(0, 223, 216, 0.6)); */
  position: sticky;
  top: 0;
  z-index: 1000;

  background: linear-gradient(to right, rgba(0, 52, 240), rgba(0, 123, 223));
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 64px;
  padding-left: 8rem;
}

.lower {
  background-color: #1c262d;
  padding: 2rem;
  margin-top: auto;
  text-align: center;
  height: 30vh;
}

.card1 {
  /* background-color: rgb(76, 81, 81); */
  background: linear-gradient(to right, rgba(0, 124, 240, 0.5), rgba(0, 156, 223, 0.5));
  height: 17rem;
  border-radius: 5px;
  /* padding-left: 8rem; */
  margin-bottom: 4rem;
  
}

.card2 {
  /* background: linear-gradient(to right, rgba(0, 124, 240, 0.5), rgba(0, 156, 223, 0.5)); */
  background-color: rgb(76, 81, 81);
  height: 7rem;
  border-radius: 5px;
  margin-bottom: 5rem;
  
}

.card-inner {
  padding: 2rem;
}