html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  background-color: #0f1519;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* position: relative; */
}

/* WORK ON FIXING THIS USE MIN PROBABLY WATCH VIDEO (and do same for boxes i think) */
main {
  width: 70vw;              
  max-width: 75rem;         
  min-width: 34rem;      

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: linear-gradient(to right, rgba(0, 52, 240), rgba(0, 123, 223));
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  height: 4rem;
  width: 100%;
  font-family: 'Trebuchet MS';

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding-left: 12rem;
  padding-right: 12rem;
}

nav a {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1c262d;
  /* padding: 20rem;
  margin-top: auto; */
  text-align: center;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h1,
h2,
h3 {
  margin: 0;
}

/* FIX font sizes */
.card1 {
  /* background-color: rgb(76, 81, 81); */
  background: linear-gradient(to right, rgba(0, 124, 240, 0.5), rgba(0, 156, 223, 0.5));
  height: 17rem;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
}

.card2 {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card3 {
  height: 20rem; 
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.box {
  cursor: pointer;
  background-color: #1c262d;
  border: 1px solid #41596c;
  font-size: 10pt;
  height: 100%;
  width: 20rem;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;

  text-decoration: none;
  color: inherit;
}

.box:hover {
  border: 1px solid #547896;
}

.box2 {
  flex-grow: 1;
  font-size: 10pt;
  width: 34rem;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(117, 34, 130, 0.5), rgba(0, 156, 223, 0.5));
}

.box2-border {
  flex-grow: 1;
  font-size: 10pt;
  height: 100%;
  width: 34rem;
  cursor: pointer;
  border-radius: 5px;
  background: 
    linear-gradient(#1c262d, #1c262d) padding-box,
    linear-gradient(to right, blue, rgb(189, 79, 119)) border-box;
  border: 2px solid transparent;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectboxes {
  /* height: 13rem; */
  /* min-height: 800px; */
  gap: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  align-content: flex-start;

  /* border: 4px solid red; */
}

.projectbox {
  flex-grow: 1;
  cursor: pointer;
  background-color: #1c262d;
  border: 1px solid #41596c;
  font-size: 10pt;
  /* height: 100%; */
  height: 250px;
  width: 250px;
  min-width: 100px;
  max-width: 400px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;

  text-decoration: none;
  color: inherit;
}

#projectsection {
  scroll-margin-top: 5rem;
}