<style>
  @import "https://www.nerdfonts.com/assets/css/webfont.css";
</style>
<div class="sidebar">
  <div class="header" style="display: flex; align-items: center;">
    <img src="assets/images/JoshsHeadshot.png" alt="Headshot" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
    <span>Joshua Liddell</span>
  </div>

  <ul>
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}><i class="{{ item.icon }}"></i>&nbsp;&nbsp;&nbsp;{{ item.name }}</a></li>
    {% endfor %} 
  </ul>
  <p>Connect</p>
  <ul>
    {% for item in site.data.navigation2 %}
      <li><a href="{{ item.link }}"><i class="{{ item.icon }}"></i>&nbsp;&nbsp;&nbsp;{{ item.name }}</a></li>
    {% endfor %} 
  </ul>
</div>