@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: clamp(500px, calc(90vw - 2rem), 1200px);
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

    align-self: center;
}

.info-cards {
    display: flex;
    gap: 1rem;
}

.color-cards {
    display: flex;
    gap: 3rem;
    perspective: 800px;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
        font-size: 1.25rem;
    }

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-content: flex-start;
    }
}