body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: #d5e9f5; */
    background-color: #adcee3;


    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


  .blocky-text {
    color: #082736;  
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size:10vw;  /* Shrinks based on window width */
    white-space: nowrap;
}