// === Main Colors ===
$color-bg:      #0f1519;
$color-bg2:     #141b1f;
$color-text:    #ffffff;
$footer-bg:     #1c262d;

// === Gradients ===
$pink-blue:       linear-gradient(to right, rgb(212, 0, 255), rgb(0, 98, 255));
$blue-header:     linear-gradient(to right, rgba(0, 52, 240), rgba(0, 123, 223));
$card-blue:       linear-gradient(to right, rgba(0, 124, 240, 0.5), rgba(0, 156, 223, 0.5));

// === Buttons ===
$button-bg:     #0d6efd;
$button-h1:     #0b5ed7;
$button-h2:     #0a58ca;

// === Cards ===
$card-bg:       #1c262d;
$card-bdr:      #41596c;
$card-bdr2:     #547896;