main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: clamp(500px, calc(90vw - 2rem), 1200px);
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.info-cards {
    display: flex;
    gap: 1rem;
}

.color-cards {
    display: flex;
    gap: 3rem;
}