// Abstracts
@use 'abstracts/colors' as *;

// Components
@use 'components/navbar';
@use 'components/footer';
@use 'components/homecards';
@use 'components/buttons';

// Pages
@use 'pages/home';
@use 'pages/about';
@use 'pages/games';
@use 'pages/comingsoon';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem;
  font-size: 100%;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: sans-serif;
  // background: linear-gradient(38deg, $color-bg2 50%, $color-bg 50%);
}

a {
  text-decoration: none;
  color: inherit;
}



// app.scss
.App {
    display: flex;
    flex-direction: column;
    // align-items: center;
}


// THE DANGER EXPERIMENTATION ZONE:


.main-body {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 0;
  overflow: hidden;
  
}

.triangle-svg {
  position: absolute;
  z-index: -1;
  display: block;

  width: 100%;
  height: 100%;

  fill: $color-bg2;

}

/* Base (4K and above) */
// html {
//   font-size: 100%;
// }

// /* For monitors smaller than ~2560px wide (1440p and 1080p) */
// @media (max-width: 2560px) {
//   html {
//     font-size: 80%; /* scales everything down */
//   }
// }

@media (max-resolution: 150dpi) {
  html {
    font-size: 80%;
  }
}